


/** NavBar Styles y**/

li{
  text-decoration: none;
  display: inline;
  font-family: 'Josefin Sans';
  padding: 8px; 
}

ul li a{
  color: #fff;
  text-decoration: none;
}

ul li a:hover{
  text-decoration: none;
  color: #88DE13;
}

h2{
  margin: 20px 0 0 0;
  font-family: 'Josefin Sans';
  color: #fff;
}

header{
  background-color: #000;
  width: 100%;
  padding-bottom: 10px;
}

.container, .row{
  padding: 0;
}

.navbar{
  padding: 2px;
}

.navbar-toggler{
  border-color: #fff;
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

button{
  margin-top: 5px;
  margin-right: 5px;
}

/** Banner Styles **/

.banner{
  background: url(../img/banner.jpg) no-repeat scroll center center;
  background-size: cover;
  z-index: 1;
  font-family: 'Josefin Sans';
  color: #fff;
}

.banner p{
  font-size: 18px;
}

.btn{
  padding: 5px 42px;
  background-size: 200% auto;
  border-color: #fff;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  font-size: 15px;
  font-family: 'Josefin Sans';
  margin: 0 auto;
}

.btn:hover{
  color: #88DE13;
  border-color: #88DE13;
}

.banner .banner-content{
  padding-top: 10px;
}

/** Footer Styles **/

footer{
  background-color: #000;
  color: #fff;
  padding: 10px;
  font-family: 'Josefin Sans';
}

footer ul li{
  display: inline-block;
}

footer ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.titles h3{
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding-top: 5px;
}










